
@{
    ViewData["Title"] = "HW03";
}

<h1>HW03</h1>
<select id="selectCity"></select>
<select id="selectDistrict"></select>
<select id="selectRoad"></select>
<div id="div1"></div>

@section Scripts{
    <script>
        const selCity = document.querySelector('#selectCity');
        const selDistrict = document.querySelector('#selectDistrict');
        const selRoad = document.querySelector('#selectRoad');

        selCity.addEventListener('change', async () => {
            await loadDistrict();
        });

        selDistrict.addEventListener('change', async () => {
            await loadRoad();
        });

        selRoad.addEventListener('change', () => {
            console.log(selRoad.value);
        });

        async function loadData(url, callback) {
            const response = await fetch(url);
            const datas = await response.json();
            const options = datas.map(data => `<option value='${data}'>${data}</option>`);
            callback(options);
        }

        async function loadCity() {
            await loadData('@Url.Content("~/api/cities")', (cities) => {
                selCity.innerHTML = cities.join("");
                loadDistrict();
            });
        }

        async function loadDistrict() {
            await loadData(`@Url.Content("~/api/districts")?city=${selCity.value}`, (districts) => {
                selDistrict.innerHTML = districts.join("");
                loadRoad();
            });
        }

        async function loadRoad() {
            await loadData(`@Url.Content("~/api/roads")?siteId=${selDistrict.value}`, (roads) => {
                selRoad.innerHTML = roads.join("");
            });
        }

        loadCity();
    </script>
}
